<div class = "container px-5 px-sm-0">
  <div class = "row">
<h2>Follower Users</h2>
<% if @users.exists? %>
<table>
  <div class="col-md-3">
  <thead>
    <tr>
      <th>Image</th>
      <th>name</th>
    </tr>
  </thead>
  </div>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= attachment_image_tag user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %></td>
      <td><%= user.name %></td>
      <td>フォロー数: <%= user.followings.count %></td>
      <td>フォロワー数: <%= user.followers.count %></td>
      <td><%= link_to user_path(user.id) do %>
      show
      <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <p>ユーザーはいません</p>
<% end %>
</div>
</div>