<div class="container px-5 px-sm-0">
<div class="row">
<%= render "users/userinfo",user: @user,book: @new_book %>

<div class="col-md-8 offset-md-1">
  		<h2>Book detail</h2>
  		<table class="table">
  		  <tbody>
  		    <tr>
  		      <td>
  		        <%= attachment_image_tag @book.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
  		      </td>
  		      <td>
  		        <%= @book.title %>
  		      </td>
  		      <td>
  		        <%= @book.body %>
  		      </td>
  		      <td>
  		        <% if @user.id == current_user.id %>
  		        <%= link_to "Edit", edit_book_path(@book.id), class: "btn btn-sm btn-success" %>
  		      </td>
  		      <td>
  		        <%= link_to "Destroy", book_path,method: :delete, class: "btn btn-sm btn-danger" %>
  		      </td>
  		      <% end %>

          </tr>
        </tbody>
      </table>
</div>
</div>
</div>
